body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    font-size: 80px !important;
    font-family: 'Sacramento', cursive;
    color: #EEEEEE;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFB740;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #FFB740;
    font-size: 40px !important;
}

p {
    font-size: 1.2rem !important;
}

.profile {
    shape-outside: circle(50%);
    background: #EEEEEE;
    padding: 0 25%;
    margin: auto;
    height: 100vh;
}

.profile-icon {
    margin-top: 20vh;
    margin-bottom: 3vh;
}

.profile-title {
    margin-bottom: 2vh;
}

.skills-container {
    padding-top: 10vh;
    height: 100vh;
}

.skills {
    padding: 0 25%;
    text-align: left;
    line-height: 2;
}

.skill-row {
    margin-top: 10vh;
}


.drawing {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.craftworks {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.main-section {
    height: 100vh;
    background-image: url("/images/galaxy.gif");
}

.top-container {
    padding-top: 40vh;
    background-image: linear-gradient(rgb(255, 1, 1));
}

.bottom-section {
    background-color: #222831;
    line-height: 2;
    color: white;
    padding-top: 10vh;
    height: 30vh;
}

.nav-link {
    color: #e0b979 !important;
    font-size: 27px !important;
}

.navbar-brand {
    color: #FFB740 !important;
    font-size: 30px !important;
    font-family: 'Montserrat', sans-serif;
}

.footer-link {
    color: #FFB740;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #FFB740;
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: #d69733;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 6%;
    border-color: #a2a5a5;
    border-width: 5px;

}

.contact-me {
    background: #EEEEEE;
    padding: 20vh 3vw 0 3vw;
    height: 70vh
}

.middle-section {
    line-height: 2;
}

/* Drawings Styles */
.drawing-header {
    padding-top: 10vh;
    height: 80vh;
}

.drawing-title {
    margin-top: 3vh;
}

.vedio-section {
    background: #EEEEEE;
}

.project-header {
    background-image: url("/images/galaxy.gif");
}

.project-title {
    height: 20vh;
    padding: 5vh 0;
}

.project-section {
    background: #222831;
}

.project-container {
    margin: 5vh 0;
}

.project-website {
    height: 78vh;
    width: 100vw;
}

.project-website-title {
    padding-left: 5vw;
    margin: 3vh 0;
}


@media only screen and (max-width: 900px) {
    .skills {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 1200px) {

    .skill-row {
        margin-top: 3vh;
    }
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 60px !important;
    }

    h3 {
        font-size: 30px !important;
    }

    p {
        font-size: 18px !important;
    }

    .profile {
        padding: 0 10%;
    }

    .skills {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 40px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    p {
        font-size: 15px !important;
    }
}